<div class="container">
<!-- <app-top-bar></app-top-bar> -->
<!-- <app-header></app-header>
<app-leftpan></app-leftpan>
<app-rightpan></app-rightpan> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-porp-binding></app-porp-binding> -->
<!-- <app-ng-binding></app-ng-binding> -->
<!-- <app-event-bind></app-event-bind> -->
<!-- <app-two-way-bind></app-two-way-bind> -->
<!-- <app-my-bootstrap></app-my-bootstrap> -->
<!-- <app-ng-if-else></app-ng-if-else> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ngfor></app-ngfor> -->
<!-- <app-push-splice></app-push-splice> -->
<app-routing-pg></app-routing-pg>
<!-- <div class="clear"></div> -->
</div>