<br>
<h2 class="text-left"> View Child example </h2>
<hr>
<div #boox>  
    <h2 class="text-center">User Name is <span class="text-success">{{userName | titlecase}}</span></h2>
</div>
<div class="text-center">
    <h4>{{pipepor | titlecase}}</h4>
    <h4>String with slice Parameter: {{pipepor | slice:2:10}}</h4>
    <h4>{{datePro | date}}</h4>
    <h4>Date with ShortTime Parameter: {{datePro | date:'shortTime'}}</h4>
    
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-danger" (click)="childProperty()">Child Property</button> &nbsp; &nbsp;
        <button class="btn btn-danger" (click)="childMethod()" >Child Method</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="custom-dropdown">
            <span class="dropdown-header" appDropdown>
                My Dropdown
            </span>
            <div class="dropdown-content">
                <a href="">Item 1</a>
                <a href="">Item 2</a>
                <a href="">Item 3</a>
                <a href="">Item 4</a>
                <a href="">Item 5</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <app-other-com1 >
            <p #childCon > this is ng Child Content </p>
        </app-other-com1>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
    </div>
    
</div>